*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #333;
}

section {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 100px;
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  img {
    width: 150px;
  }

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  img {
    width: 200px;
  }

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  img {
    width: 300px;
  }
}

 /*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  img {
    width: 350px;
  }
}

 /*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  img {
    width: 400px;
  }
}

